.fullDiv{
    width: 100%;
    box-sizing: border-box;
}
.mainFooter{
    background-color: rgb(240, 246, 235);
/* height: 400px; */
width: 100%;
display: flex;
justify-content: space-evenly;
padding: 60px 20px 0 20px;
box-sizing: border-box;
flex-wrap: wrap;
/* align-items: center; */
}
.mainFooter>div{
    width: 280px;
    height: auto;
}
.contact>div{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}
.contact>p:last-child{
    margin-left: 35px;
}
.lastDiv{
    background-color: rgb(59, 77, 62);
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 45px 20px 45px;
color: white;
flex-wrap: wrap;
box-sizing: border-box;
gap: 20px;
}
.lastDiv>div{
    width: 300px;
}
.lastDiv>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    /* align-items: center; */
}
.lastDiv>div:nth-child(3){
    /* width: 25%; */
    font-size: 13px;
    text-align: right;
}