.main {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  padding: 40px 0;
}
.mainDiv1{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}
.mainDiv1>img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.mainDiv1>img+div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5;
    padding:10px 0;
    font-size: 10px;
}
.mainDiv2{
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 10px;
}
.mainDiv2>img{
    width: 100%;
    border-radius: 10px;
}
.mainDiv3{
    /* border: 1px solid blue; */
    width: 100%;
    box-sizing: border-box;
}
.mainDiv3>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(59, 77, 62);
}
.mainDiv3>div:nth-child(1)>div{
    width: 5%;
    height: 0;
    border-bottom:1px solid rgb(59, 77, 62);
    /* font-size: 16px; */
}
.mainDiv3>div:nth-child(2){
    /* padding-bottom: 20px; */
    width: 100%;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    z-index: -1;
    /* border: 1px solid red; */
  }

/* .swipers{
    z-index: -1;
} */

.carousl{
    display:flex;
    /* align-content: stretch; */
    /* flex: 1; */
}
/* .mainDiv4{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 10px;
} */
.mainDiv4,.mainDiv5,.mainDiv3,.mainDiv6{
    margin: 2rem 0;
}
.mainDiv4>div:nth-child(1), .mainDiv5>div:nth-child(1), .mainDiv6>div:nth-child(1), .mainDiv3>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* border: 1px solid red; */
    color: rgb(59, 77, 62);
    margin: 1rem 0;
}
.mainDiv4>div:nth-child(1)>div,.mainDiv5>div:nth-child(1)>div, .mainDiv6>div:nth-child(1)>div{
    width: 5%;
    height: 0;
    border-bottom:1px solid rgb(59, 77, 62);
    /* font-size: 16px; */
}
.mainDiv4>div:first-child>h3:nth-child(2),.mainDiv3>div:first-child>h3:nth-child(2),.mainDiv5>div:first-child>h3:nth-child(2),.mainDiv6>div:first-child>h3:nth-child(2){
font-size: 2rem;
font-weight: 700;
}
.mainDiv4>div:nth-child(2)>div{
    width: 230px;
    /* transition: transform .2s; */
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.mainDiv4>div:nth-child(2)>div>img{
    transition: transform .2s ease;
    width: 100%;
    border-radius: 5px;
}
.mainDiv4>div:nth-child(2)>div>img:hover{
    transform: scale(1.1);
}
.mainDiv4>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 10px;
}
.mainDiv5>div:nth-child(2)>div, .mainDiv6>div:nth-child(2)>div{
    height: 250px;
    border-radius: 5px;
    width: 225px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-sizing: border-box;
}
.mainDiv5>div:nth-child(2),.mainDiv6>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.mainDiv5>div:nth-child(2)>div>div:nth-child(1)>img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.mainDiv5>div:nth-child(2)>div>div:nth-child(1){
width: 100%;
height: 80%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.mainDiv5>div:nth-child(2)>div>div:nth-child(2){
    color: rgb(59, 77, 62);
    display: flex;
    align-items: center;
    background-color: rgb(229, 240, 219);
    width: 100%;
    font-weight: 600;
    height: 20%;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mainDiv6>div:nth-child(2)>div>img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.mainDiv7{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-top: 20px;
}
.mainDiv7>img{
    width: 100%;
}
.mainDiv8>div{
    background-color: rgb(229, 240, 219);
    padding: 10px;
    position: relative;
    width: 25%;
    border-radius: 5px;
    height: max-content;
    color: rgb(59, 77, 62);

}
.mainDiv8>div::after{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: -25px;
    left:45%;
    background-color: rgb(229, 240, 219);
    clip-path: polygon(20% 0, 100% 0, 70% 80%);

}
.mainDiv9{
    width: 100%;
    height: 550px;
    background-color: rgb(229, 240, 219);
    position: relative;
    box-sizing: border-box;
}
.mainDiv9>div:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: rgb(229, 240, 219);
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction:row-reverse;
    position: absolute;
    /* justify-content: ; */
}
.mainDiv9>div:nth-child(1)>div:nth-child(1){
    position: absolute;
    height: 100px;
    background-color: rgb(59, 77, 62);
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: end;
    padding-right: 17%;
    align-items: center;
    box-sizing: border-box;
}

.mainDiv9>div:nth-child(1)>div:nth-child(1)>h1{
    /* margin-right: auto; */
    color: white;
    font-size: 40px;
    font-weight: 700;
    
}
.mainDiv9>div:nth-child(2){
    height: 90%;
    width: 20%;
    position: absolute;
    top: 10%;
    left: 20%;
}
.mainDiv9>div:nth-child(2)>img{
height: 100%;
width: 100%;
transition: transform 0.2s ease;
}
.mainDiv9>div:nth-child(2)>img:hover{
    transform: scale(1.05);
}
.mainDiv9>div:nth-child(1)>div:nth-child(2){
    position: absolute;
    bottom:25%;
    margin-right: 17%;
    display: flex;;
}
@media only screen and (max-width:900px) and (min-width:500px) {
    .mainDiv9{
        height: 550px;
    }
    .mainDiv9>div:nth-child(1){
    height: 100%;

    }
    .mainDiv9>div:nth-child(1)>div:nth-child(1){
    padding-right: 7%;
    height: 60px;
    }
    .mainDiv9>div:nth-child(1)>div:nth-child(1)>h1{
        font-size: 20px;
        font-weight: 700;
    }
    .mainDiv9>div:nth-child(2){
        height: 80%;
        width: 35%;
        left: 5%;
    }
    .mainDiv9>div:nth-child(1)>div:nth-child(2){
    bottom:35%;
    margin-right: 10%;

    }
    .mainDiv4>div:nth-child(2),
    .mainDiv5>div:nth-child(2),
    .mainDiv6>div:nth-child(2)
    {
        justify-content:space-between; 
        gap: 3vh;
    }
    .mainDiv4>div:nth-child(2)>div,
    .mainDiv5>div:nth-child(2)>div,
    .mainDiv6>div:nth-child(2)>div
    {
        width: 35vh;
    height: 35vh;

    }
.mainDiv5>div:nth-child(2)>div>div:nth-child(2){
    font-size: 1.55rem;
    font-weight: 800;
}
    .mainDiv9>div:nth-child(1)>div:nth-child(2)>img{
        /* height:; */
        width: 100px;
    
        }
        .mainDiv2>img{
            height: 200px;
        }
        .mainDiv1>img{
            height: 250px;
        }
        

}
@media only screen and (max-width:500px) and (min-width:1px) {
    .mainDiv2>img{
        height: 200px;
    }
    .mainDiv1>img{
        height: 250px;
    }
    .mainDiv9{
        height: 350px;
    }
    .mainDiv9>div:nth-child(1){
    height: 100%;
    }
    .mainDiv5>div:nth-child(2)>div>div:nth-child(2){
        font-size: 1.25rem;
        font-weight: 800;
    }
    .mainDiv4>div:first-child>h3:nth-child(2),
    .mainDiv3>div:first-child>h3:nth-child(2),
    .mainDiv5>div:first-child>h3:nth-child(2),
    .mainDiv6>div:first-child>h3:nth-child(2)
    {
        font-size: 1.12rem;
    }
.mainDiv4>div:nth-child(2),
.mainDiv6>div:nth-child(2),
.mainDiv5>div:nth-child(2)
{
    justify-content:space-between;
    gap: 3vh;
}
.mainDiv4>div:nth-child(2)>div,
.mainDiv6>div:nth-child(2)>div,
.mainDiv5>div:nth-child(2)>div
{
    margin: auto;
    width: 40vh;
    height: 40vh;
}

    .mainDiv9>div:nth-child(1)>div:nth-child(1){
    padding-right: 7%;
    height: 60px;
    }
    .mainDiv9>div:nth-child(1)>div:nth-child(1)>h1{
        font-size: 16px;
        font-weight: 700;
    }
    .mainDiv9>div:nth-child(2){
        height: 70%;
        width: 30%;
        left: 5%;
    }
    .mainDiv9>div:nth-child(1)>div:nth-child(2){
    bottom:30%;
    margin-right: 10%;

    }
    .mainDiv9>div:nth-child(1)>div:nth-child(2)>img{
        /* height:; */
        width: 80px;
    
        }
}
/* .mainDiv1{
background-color: rgb(132, 134, 130);
} */