.mainDiv{
    width: 35%;
    margin: auto;
    /* border: 2px solid; */
    box-sizing: border-box;
    padding: 10px 20px;
    margin-bottom: 100px;
    margin-top: 2vh;
    border-radius: 2vh;
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.mainDiv>div:first-child{
    text-align: center;

}
.mainDiv>div:first-child>h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.mainDiv>div:first-child>p{
    font-size: 1.25rem;
    color: rgb(59, 77, 62);
    margin-bottom: 2vh;
}
.mainDiv>.form{
    display: flex;flex-direction: column;gap:2rem;
}
.mainDiv>.form>input{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    font-size: 18px;
}
.mainDiv>.form>a{
    color: rgb(59, 77, 62);
    text-decoration: underline;
    display: block;
    font-size: 14px;
}
.mainDiv>.form>button{
    /* width: 40%; */
    display: block;
    margin: auto;
    background-color: rgb(59, 77, 62);
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 50px 10px 50px;
    /* height: 45px; */
    border-radius: 10px;
    border: none;
}
.mainDiv>a:last-child{
    color: rgb(59, 77, 62);
    text-decoration: underline;
    display: block;
    font-size: 14px;
    margin: auto;
    width: fit-content;
}
#createBtn{
    background-color: gray;
    color: white;
}