.main{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* margin: auto; */
    /* flex-wrap: wrap; */
  position: relative;
    /* align-self: normal; */
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-between;
}
.topImg{
    width: 90%;
    height: 150px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px auto;
}
.topImg>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
}
.main1>button{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: rgb(59, 77, 62);
    color: white;
    border: none;
    /* padding: 10px 0; */
    /* border-radius: 0; */
    /* position: absolute; */
    /* bottom: 0;left: 0; */
    margin-top: auto;
}
.main1>button:hover{
    background-color: rgb(59, 77, 62);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.main>div:nth-child(1){
    width: 100%;
    height: 70%;
    position: relative;
    box-sizing: border-box;
}
.main>div:nth-child(1)>img+div{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}
.heart{
    font-size: 25px;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 5%;
    color: rgb(59, 77, 62);

}
 .main>div:nth-child(1)>img+div>div:nth-child(2){
    display: flex;
    justify-content: center;
align-items: center;
    box-sizing: border-box;
    width: 25px;
    /* margin-top: 5px; */
 } 
.main>div:nth-child(1)>img+div>div:nth-child(2)>p{
    background-color: rgb(229, 240, 219);
    padding: 2px;
    color: rgb(59, 77, 62);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    font-size: 10px;
    align-items: center;
    font-weight: 600;
}
.main>div:nth-child(1)>img+div>div:nth-child(1)>p:last-child{
    background-color: rgb(229, 240, 219);
    color: rgb(59, 77, 62);
    padding: 0 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
    font-size: 14px;
    transform: skew(-15deg);    
}
.main>div:nth-child(1)>img+div>div:nth-child(1)>p:first-child{
    background-color: rgb(59, 77, 62);
    color: rgb(229, 240, 219);
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    transform: skew(-15deg);    
}
.main>div:nth-child(1)>img+div>div:nth-child(1){
    display: flex;
    font-weight: 600;
    align-items: center;
    box-sizing: border-box;
}
.main>div:nth-child(1)>img{
    height: 100%;
    width: 100%;
}
/* .main>div:nth-child(2)>p{
    margin-top: -15px;
font-weight:600;
max-lines: 2;
font-size: 14px;
    overflow: hidden;
    font-size: 3rem;
} */
.main>div:nth-child(2){
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
}
.main1{
    display: flex;flex-direction: column;
    gap: 0.5rem;
}
.main1>div:nth-child(2){
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    /* margin-top: auto; */
    /* position: absolute; */
    /* bottom: 8%; */
    /* margin-top: -20px; */
    /* margin-bottom: -20px; */
    align-items: center;
    /* padding: 0 10px; */

}
.main1>div:nth-child(2)>div:nth-child(1){
    display: flex;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    gap: 10px;
    /* border: 1px solid red; */
}
.main1>div:nth-child(2)>div:nth-child(1)>p+p{
    /* margin-left: 10px; */
    font-size: 20px;
    /* margin: 0 auto; */
    
}
.main1>div:nth-child(2)>div:nth-child(1)>p:first-child{
    color: red;
    font-size: 18px;
    margin: 0 auto;

}
.main1>div:nth-child(2)>div+p{
    color: rgb(59, 77, 62);
    font-weight: bold;
}
.main1>div:nth-child(3){
    font-size: 12px;
    }
.main1>div:nth-child(3)>p:nth-child(1)>span{
    text-decoration: line-through;

}
.main1>div:nth-child(4){
    display: flex;
    /* align-items: center; */
    /* justify-content:space-between; */
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid black;
    width: fit-content;

}
.main1>div:nth-child(4)>button{
    display: flex;align-items: center;justify-content: center;
    /* border: 2px solid red; */
    box-sizing: border-box;
    border-radius: 0;
    height: 40px;width: 40px;
}
.main1>div:nth-child(4)>button:nth-child(2){
    background-color: rgb(59, 77, 62);
    color: white;
    border-radius: 0;
    font-size: 18px;
    box-sizing: border-box;
    /* font-weight: 600; */
    
}
.main1>div:nth-child(4)>button:nth-child(1){
    background-color: white;
    font-size: 1.25rem;
    color: rgb(59, 77, 62);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    font-weight: 800;
}
.main1>div:nth-child(4)>button:nth-child(3){
    font-size: 1.25rem;
    background-color: white;
    color: rgb(59, 77, 62);
    box-sizing: border-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 800;
}

/*@media only screen and (min-width:900px) and (max-width:1191px) {
    .main{
    height: 450px;
    }
    .main>div:nth-child(1)>img+div>div:nth-child(2)>p{
     font-size: 12px;
     font-weight: 500;   
    }
.main>div:nth-child(1)>img+div>div:nth-child(1)>p:last-child{
    font-size: 10px;
    /* padding: 0; */
    /* margin: 0; */
/* } */
/* } */ 
.singleItem{
    width: 70%;
    margin: auto;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    /* align-items: ; */
    box-sizing: border-box;
    height: 400px;
    margin: 20px auto;
}
.main1{
    width: 55%;
    height: max-content;
    box-sizing: border-box;
    /* border: 2px solid blue; */
    padding: 0 10px;
    /* position: relative; */
}
.main1>div:nth-child(1)>h2{
    margin: 0;
    font-size: 1.2rem;font-weight: 800;
}
.main>div:nth-child(2){
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-sizing: border-box;
    /* border: 2px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding:5px;
}
.main>div:nth-child(2)>img{
    width: 22%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 5px;
}
@media screen and (min-width: 500px) and (max-width:770px) {
    .singleItem{width: 90%;}
}
@media screen and (min-width: 1px) and (max-width:500px) {
    .singleItem{
        flex-direction: column;
        /* border: 1px solid red; */
        height: auto;
        gap: 2rem;
        width: 90%;
    }
    .main{
        width: 100%;
    }
    .main1{
        width: 100%;
    }
}