.whtList{
    display: flex;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 5px;
}
.whtList>div:first-child{
    width: 40%;
    height: 100%;
    box-sizing: border-box;
}
.whtList>div:first-child>img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}
.whtList>div:nth-child(2){
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.whtList>div:nth-child(2)>div:first-child{
    padding: 0 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.whtList>div:nth-child(2)>div:first-child>h3{
    font-size: 1rem;
    font-weight: 700;
}
.whtList>div:nth-child(2)>div:first-child>h3:hover{
    text-decoration: underline;
}
.whtList>div:nth-child(2)>div:first-child>p{
    font-size: 0.8rem; font-weight: 700;
}
.whtList>div:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.whtList>div:nth-child(2)>div:nth-child(2)>button{
    padding: 5px 15px;
    background-color: rgb(59, 77, 62);
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.mainDiv>div:first-child{
    width: 100%;
    background-color: rgb(59, 77, 62);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 700;
}
.mainDiv{
    padding: 20px 0;
    box-sizing: border-box;
}
.mainDiv>div:nth-child(2){
    margin: auto;
    gap: 20px;
    box-sizing: border-box;
}



@media screen and (min-width: 0) and (max-width:500px){
    .whtList>div:nth-child(2)>div:nth-child(2)>button{
    padding: 1px 8px;
    }
}